@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

body {
    font: 15px/1.5 arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(165, 124, 124);
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    height: 30px;
    background-color: red;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background: #35424a;
    color: aliceblue;
    padding: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: gray;
    font-weight: bold;
}

.intro {
    min-height: 400px;
    background: url(../img/e.jpg)no-repeat 0 -450px;
    background-size: cover;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.intro h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 20px;
}

.reference {
    margin-top: 20px;
}

.reference .row,
.project .row {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

.reference h1 {
    text-align: center;
}

.reference p {
    text-align: center;
}

.row img {
    transition: transform 3s ease;
}

.project .row img:hover {
    transform: rotate(360deg);
}

.reference .row img {
    width: 90px;
    height: 90px;
}

.anime {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-color: green;
    animation-name: kenechuqu;
}

.anime::before {
    content: "sharashell";
    position: absolute;
    color: #fff;
    margin-top: 40px;
    margin-left: 20px;
}

@keyframes kenechuqu {
   0%{background-color: green;}
   25%{background-color: aqua;}
   50%{background-color: yellow;}
   75%{background-color: black;}
   100%{background-color: purple;}

}

.lorem .about h1 {
    text-align: center;
}

.address {
    background: #a1604e;
    color: #fff;
    padding-top: 10px;
}

.address .map {
    float: right;
    display: block;
    justify-content: center;
}

.address .map i {
    align-items: center;
    justify-content: center;
    display: flex;
}

address .tel {
    float: left;
}

.address .tel i {
    align-items: center;
    justify-content: center;
    display: flex;
}

.newsletter {
    padding: 15px;
    color: aliceblue;
    background-color: #212324;
}

.services {
    width: 65%;
    float: left;
}

.contact {
    margin: 15px;
}

.aside {
    width: 30%;
    float: right;
    padding: 0%;
}

.names {
    text-align: center;
}

.aside form {
    width: 100%;
}

.newsletter h1 {
    float: left;
    color: blueviolet;
}

.newsletter form {
    float: right;
    margin: 10px;
}

.newsletter input[type="email"] {
    padding: 4px;
    height: 38px;
    width: 250px;
}

.specialization {
    margin-top: 20px;
}

.specialization .row {
    float: left;
    text-align: center;
    padding: 10px;
}

.specialization .row i {
    width: 90px;
    height: 90px;
}

.specialization .p {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    overflow: none;
}

.about-img {
    width: 90%;
    height: 50vh;
}

.about-img-d {
    float: left;
    width: 35%;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

.project img {
    width: 200px;
    height: 200px;
}

article #aside {
    float: right;
    width: 65%;
    margin-top: 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(38, 105, 80)
}

.table th,
.table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 30px;
    font-family: arial;
}

.table th {
    background-color: black;
    color: #dddddd;
}

/* media queries
@media (max-width: 768x) {
    header #branding,
    header nav,
    header nav li,
    .newsletter li,
    .newsletter form,
    .reference .row,
    .specialization .row,
    .intro .aside {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    .intro h1 {
        margin-top: 40px;
    }

    .newsletter button,
    .aside {
        display: block;
        width: 100;
    }

    .newsletter form input [type="email"],
    .aside input,
    .aside textarea {
        width: 100;
        margin-bottom: 5px;
    }
} */

/* media queries */
@media (max-width:576px) {
    body {
        background-color: gray;
        margin: 0 auto;
    }

    .intro {
        min-height: 400px;
        background: url(../img/e.jpg);
        background-position: center center;
        background-size: cover;
        text-align: center;
        color: black;
        margin-bottom: 20px;
    }

    header ul li .fas {
        display: none;
    }

    #branding {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .reference {
        float: none;
        display: inline-flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .reference .row,
    .lorem .row {
        display: flex;
        float: none;
        flex-wrap: wrap;
        width: 100%;
    }

    .title {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .reference-img {
        margin: 0 auto;
    }

    .intro {
        text-align: center;
        width: 100%;
    }

    .newsletter button {
        width: 260px;
    }

    .newsletter {
        /* width: 100%; */
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .newsletter h1 {
        text-align: center;
        width: 100%;
    }

    .about h1 {
        text-align: center;
    }

    .project h1,
    .project p {
        text-align: center;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        float: none;
    }





}